/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Globals */
:root {
  --primary-colour: #363aeb;
  --background: #00a851;
  --background-two: whitesmoke;
  --survey-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

h2 {
  margin: 2rem;
  text-align: center;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  background-color: var(--background);
  font-family: sans-serif;
}

/* Sections */

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: var(--primary-colour);
}

.survey {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}

.survey__form {
  padding: 1rem;
}

.survey__list {
  width: 30vw;
  margin: 4rem 0;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 20px;
  transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: var(--survey-shadow);
  background-color: var(--background-two);
}

.survey__list.open {
  width: 70vw;
}

